<div class="page-header">
  <h3>User #<%= @user.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Email</dt>
      <dd><%= @user.email %></dd>

      <dt>Password</dt>
      <dd><%= @user.password %></dd>

      <dt>Username</dt>
      <dd><%= @user.username %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/users" class="btn btn-primary">
        Back
      </a>
    </div>
  </div>
</div>

<!-- A User has many responses -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Responses
      </li>

      <% @user.responses.each do |response| %>
        <li class="list-group-item">
          <a href="/responses/<%= response.id %>">
            <%= response.content %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/responses/<%= response.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/responses/<%= response.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_response/<%= response.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A User has many ratings -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Ratings
      </li>

      <% @user.ratings.each do |rating| %>
        <li class="list-group-item">
          <a href="/ratings/<%= rating.id %>">
            <%= rating.stars %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/ratings/<%= rating.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/ratings/<%= rating.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_rating/<%= rating.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A User has many vignettes -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Vignettes
      </li>

      <% @user.vignettes.each do |vignette| %>
        <li class="list-group-item">
          <a href="/vignettes/<%= vignette.id %>">
            <%= vignette.content %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/vignettes/<%= vignette.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/vignettes/<%= vignette.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_vignette/<%= vignette.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A User has many rated_responses -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Rated Responses
      </li>

      <% @user.rated_responses.each do |response| %>
        <li class="list-group-item">
          <a href="/responses/<%= response.id %>">
            <%= response.content %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/responses/<%= response.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/responses/<%= response.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_response/<%= response.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A User has many rated_vignettes -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Rated Vignettes
      </li>

      <% @user.rated_vignettes.each do |vignette| %>
        <li class="list-group-item">
          <a href="/vignettes/<%= vignette.id %>">
            <%= vignette.content %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/vignettes/<%= vignette.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/vignettes/<%= vignette.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_vignette/<%= vignette.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
