<div class="page-header">
  <h3>Response #<%= @response.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Content</dt>
      <dd><%= @response.content %></dd>

      <dt>Vignette</dt>
      <dd><%= @response.vignette_id %></dd>

      <dt>User</dt>
      <dd><%= @response.user_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/responses" class="btn btn-primary">
        Back
      </a>
      <% if current_user == @response.user %>
        <a href="/responses/<%= @response.id %>/edit" class="btn btn-warning">
          Edit
        </a>
        <a href="/delete_response/<%= @response.id %>" class="btn btn-danger" rel="nofollow">
          Delete
        </a>
      <% end %>
    </div>
  </div>
</div>

<!-- A Response has many ratings -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Ratings
      </li>

      <% @response.ratings.each do |rating| %>
        <li class="list-group-item">
          <a href="/ratings/<%= rating.id %>">
            <%= rating.stars %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/ratings/<%= rating.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/ratings/<%= rating.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_rating/<%= rating.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_rating" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for stars -->
      <div class="form-group">
        <label for="stars" class="control-label">
          Stars
        </label>

        <input type="text" id="stars" name="stars" placeholder="Stars" class="form-control" value="">
      </div>

      <!-- Label and input for content -->
      <div class="form-group">
        <label for="content" class="control-label">
          Content
        </label>

        <textarea id="content" name="content" placeholder="Content" class="form-control" rows="3"></textarea>
      </div>

      <!-- Label and input for user_id -->
      <input type="hidden" name="user_id" value="<%= current_user.id %>">

      <!-- Label and input for response_id -->
      <input type="hidden" name="response_id" value="<%= @response.id %>">

      <button class="btn btn-block btn-success">
        Create Rating
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Response has many raters -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Raters
      </li>

      <% @response.raters.each do |user| %>
        <li class="list-group-item">
          <a href="/users/<%= user.id %>">
            <%= user.email %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/users/<%= user.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/users/<%= user.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_user/<%= user.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
