<div class="page-header">
  <h3>Vignette #<%= @vignette.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Content</dt>
      <dd><%= @vignette.content %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/vignettes" class="btn btn-primary">
        Back
      </a>
      <a href="/vignettes/<%= @vignette.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_vignette/<%= @vignette.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Vignette has many responses -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Responses
      </li>

      <% @vignette.responses.each do |response| %>
        <li class="list-group-item">
          <a href="/responses/<%= response.id %>">
            <%= response.content %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/responses/<%= response.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/responses/<%= response.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_response/<%= response.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_response" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for content -->
      <div class="form-group">
        <label for="content" class="control-label">
          Content
        </label>

        <textarea id="content" name="content" placeholder="Content" class="form-control" rows="3"></textarea>
      </div>

      <!-- Label and input for vignette_id -->
      <input type="hidden" name="vignette_id" value="<%= @vignette.id %>">

      <!-- Label and input for user_id -->
      <input type="hidden" name="user_id" value="<%= current_user.id %>">

      <button class="btn btn-block btn-success">
        Create Response
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Vignette has many users -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Users
      </li>

      <% @vignette.users.each do |user| %>
        <li class="list-group-item">
          <a href="/users/<%= user.id %>">
            <%= user.email %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/users/<%= user.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/users/<%= user.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_user/<%= user.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A Vignette has many raters -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Raters
      </li>

      <% @vignette.raters.each do |user| %>
        <li class="list-group-item">
          <a href="/users/<%= user.id %>">
            <%= user.email %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/users/<%= user.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/users/<%= user.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_user/<%= user.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
